<!DOCTYPE html>
<html ng-app="todo">
<head>
  <title>Todo</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= javascript_include_tag params[:controller] %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div class="container" ng-view>
    <%= yield %>
  </div>
</body>
</html>
